.particles-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* Behind other content */
    pointer-events: none;
    /* Let clicks pass through */
    overflow: hidden;
}

.particles-container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}